<launch>
 
    <!-- Launch world -->
    <include file="$(find gazebo_utils)/launch/linefollow.launch"/>
    <!-- Image segmentation -->
    <include file="$(find blob_segmentation)/launch/segment.launch"/>
    <!-- Testing -->
    <node pkg="line_following" name="linefollow" type="test.py" output="screen">
    </node>

  
</launch>
