<launch>
    <!-- Launch world -->
    <include file="$(find gazebo_utils)/launch/training_world.launch"/>
    <!-- Image segmentation -->
    <include file="$(find blob_segmentation)/launch/segment.launch"/>
    <!-- Training -->
    <node pkg="line_following" name="training" type="training.py" output="screen">
        <param name="reward_th" type="double" value="-100" />
        <param name="policy" type="int" value="0" /> <!-- MlpPolicy = 0, CnnPolicy = 1, MultiInputPolicy = 2-->
        <param name="buff_size" type="int" value="10000" />
        <param name="train_hz" type="int" value="3" />
        <param name="timesteps" type="int" value="200000" /> <!-- 200000 -->
    </node>

</launch>